[defaults]
inventory          = inventory/hosts.ini
roles_path         = roles
stdout_callback    = yaml
timeout            = 60
host_key_checking  = False

[winrm]
transport                = negotiate
server_cert_validation   = ignore
